<head>
	<link rel="stylesheet" type="text/css" href="/css/index.css">
</head>

<div class="content">
		<h2>Tareas</h2><br>
		<div class="tasks_container">
			<ul>
				<% if @tasks.empty? %>
					<li class="no-tasks"><h3>No tienes tareas aún</h3></li>
				<% else %>
					<li>
						<div class="ul-header">
							<p><strong>Nombre</strong></p>
							<p><strong>Estado</strong></p>
							<p><strong>Acciones</strong></p>
						</div>
					</li>
					<% @tasks.each do |task| %>
							<li>
								<div class="card">
									<div class="task">
										<p><%= task['name'] %></p>
										<p><%= task['status'] ? 'Completa' : 'Incompleta'%></p>
									</div>
									<div class="actions">
										<form action="/update-task/<%= "?id=#{task['_id']}&?name=#{task['name']}" %>" method="post">
											<input type="hidden" name="_method" value="put">
											<input style="display: none;" type="text" name="name" value="<%= task['name'] %>">
											<input class="btn-update" type="submit" value="Completar">
										</form>
										<form action="/delete-task/?id=<%= task['_id'] %>" method="post">
											<input type="hidden" name="_method" value="delete">
											<input class="btn-delete" type="submit" value="Eliminar">
										</form>
									</div>
								</div>
							</li>
					<% end %>
				<% end %>
			</ul><br>
		</div>
		<a href="/new-task"><div class="button">Añadir</div></a>
</div>
